.brand-page {
    background-color: #16263E;
    padding: 20px;
}

.breadcrumb {
    margin: 30px;
}
.breadcrumb a{
    color:white;
}
.brand-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.brand-button {
    background-color: #304566;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 50px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    width: 200px;
}

.brand-button:hover {
    background-color: white;
    color: black;
}

.brandname {
    font-size: 30px;
    margin: 30px 30px 0px 30px;
}

.sort-container {
    width: 1000px;
    height: 40px;
    background-color: #16263E;
    text-align: center;
    margin-left: 230px;
}

.sort-container label {
    font-size: 20px;
    padding: 20px;
}

.select {
    background-color: white;
    color: black;
    width: 200px;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.out-of-stock {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #304566;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    z-index: 2;
    width:303px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.pname {
    color: black;
}

.price {
    color: #304566;
}

.product img {
    width: 100%;
    /* Make image responsive */
    height: auto;
    max-height: 200px;
    /* Set a max height for images */
    object-fit: contain;
}

.heart-icon1 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    /* Pointer cursor for better UX */
}

.color-circle.selected {
    border: 3px solid black;
    /* Bold black border for selected color */
}