.footer-container {
    background-color: white;
    color: #333;
    padding: 20px;
    font-family: Arial, sans-serif;
    opacity: 88%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: left;
    flex-grow: 1;
  }
  
  
  
  .contact-info {
    width: 30%;
  }
  
  
  .contact-info p,
  address {
    margin: 5px 0;
  }
  
  .email:hover{
    color: #16263E;
  }
  .social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    bottom: 10px;
    position: absolute;
    left: 80px;
  }
  
  .icon {
    color:black;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .icon:hover {
    color: #007bff; /* Change to your preferred hover color */
  }
  
  .facebook:hover {
    color: #3b5998; /* Facebook brand color */
  }
  
  .whatsapp:hover {
    color: #25d366; /* WhatsApp brand color */
  }
  
  .instagram:hover {
    color: #e4405f; /* Instagram brand color */
  }
  
  .l-container {
    position: absolute;
    top: 5px;
    left: 450px;
  }
  
  .logofooter{
    width: 300px;
    height: 300px;
  }
  .footer-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-links h4 {
    margin-bottom: 30px;
    font-size: 20px;
    font-style: bold;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li a{
    margin-bottom: 5px;
    color: black;
  }
  .footer-links ul li a:hover {
    margin-bottom: 5px;
    color: blue;
  }
  
  .footer-bottom {
    text-align: center;
    border-top: 1px solid #16263E;
    color:white;
    background-color: #16263E;
    margin-bottom: -40px;
    margin-left:-70px;
    height:2px;
    font-size: 10px;
    position: relative;
    padding: 10px;
    width: 1500px;
  }

  