body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../src/assets/Background.jpeg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.order-tracking {
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: 10%;
}

.popup {
  width: 80%;
  margin: 15px auto;
  background-color: rgba(242, 94, 94, 0.682);
  padding: 20px;
  border-radius: 10px;
}

.login-redirect {
  color: #fff;
}

.login-redirect:hover {
  color: rgb(250, 250, 112);
}

.order-details,
.order-history {
  background-color: rgba(22, 38, 62, 0.6); /* 60% opacity */
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  border-color: #fff;
  border-width: 1px;
  border-style: groove;
}

p {
  margin: 10px 0;
}

.order-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-width: 0;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  color: #fff;
}

.select-order:hover {
  color: rgb(224, 245, 104);
}

.status-column {
  text-align: right;
}

.details-table .wide-column {
  width: 40%; 
}

.details-table {
  width: 100%;
}

.details-table td {
  vertical-align: top;
}

.order-status-history{
  padding: 0;
  margin: 0;
}

.order-status-history td {
  vertical-align: top;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s;
}

.clickable-row:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
