
.warranty-policy-page {
    background-image: url("../assets/login_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: "Arial", sans-serif;
  }
  
  
  .warranty-content {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  
  .warranty-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }

  .policy-box {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin-bottom: 60px;
  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .policy-box ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 20px;
  }
  
  .policy-box ul li {
    margin-bottom: 10px;
    line-height: 1.8;
  }
  
  .policy-box p {
    font-size: 1rem;
    margin-top: 15px;
  }
  
  .policy-box a {
    color: #dadb71;
    text-decoration: none;
  }
  
  .policy-box a:hover {
    text-decoration: underline;
  }
  