/* Overall container */
.signup-page {
    background-image: url('../../assets/Logo/login_background.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container {
    position: absolute;
    top: 3px;
    right: 10px;
    
  }
  
  .logo2 {
    width: 200px;
    height: 200px;

  }
.signup-container {
    width: 450px;
    height: 580px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0.5;
    border: 1px solid white;
    border-radius: 50px;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;

}

/* Input fields */
.signup-input {
    width: 90%;
    padding: 13px;
    margin: 3px 0;
    border: 1px solid black;
    border-radius: 20px;
    background-color:white;
    margin-left: 45px;
    color:black;
    text-align: center;
    font-size: 18px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #333; /* Adjust color to make it visible */
}
/* Button */
.signup-button {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #555;
    border: 2px solid black;
    
    border-radius: 20px;
    cursor: pointer;
    width:90%;
    margin-top: 10px;
    margin-left: 45px;
}

.signup-button:hover {
    background-color: black;
    border: 2px solid white;
}

.login {
    color: white;
}
.login a{
    color: yellow;
}

