/* forget password page2 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100%;
    width: 100%; 
  }
  
  .login-page {
  background-image: url('../assets/login_background.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .logo-container {
    position: absolute;
    top: 3px;
    right: 10px;
    
  }
  
  .logo2 {
    width: 200px;
    height: 200px;

  }
  .login-container4 {
    width: 450px;
    height: 350px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0.5;
    border: 1px solid white;
    border-radius: 50px;
  }
  
  
  .login-container4 h2 {
    margin-bottom: 20px;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-container4 input {
    width: 100%;
    padding: 13px;
    margin: 15px 0;
    border: 1px solid black;
    border-radius: 20px;
    background-color:white;
    text-align: center;
    color:black;
    font-size: 18px;
  }
  .input::placeholder {  
    font-size: 15px;
    text-align: center;
  }
  .password-container {
    position: relative;
    width: 100%;
  }
  
  
  .checkbox{
    display: flex;
  }
  .div1{
    display: flex;
    margin-right: 120px;
  }
  .div1 input{
      margin-right: 10px;
      margin-left:30px;
      margin-top: 5px;
      
  }
  .checkbox-label{
    text-wrap: nowrap;
    font-size: 15px;
    color: white;
   
  }
  .checkbox a{
    text-wrap: nowrap;
    font-size: 15px;
    color: white;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    background-color: #16263E;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    font-family: caladea;
  }
  .btn:hover {
    background-color:black;
    border: 2px solid white;
    color: white;
    font-weight: bold;
  }
 
  .guideline{
    color:white;
    text-align:center;
  }
  
  .highlight{
    color:yellow;
  }

  .otp-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .otp-box {
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #fff;
    color: black;
    outline: none;
    
  }
  
  .otp-box:focus {
    border-color: #ffd700;
  }
  
  
  
  
  